.header {
    background-color: paleturquoise;

}

.links {
    float: center;
    font-family: "Merriweather Sans";
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
}

a {
    color: darkslategrey;
    text-decoration: none;
}

a:hover {
    color: steelblue;
    }

    #myname {
        color: darkslategrey;
        font-family: "Merriweather Sans";
        font-size: 25px;
        background-color: lightsteelblue;
        height: 100px;
        text-align: center;
        padding: 25px;
    }
    .Biopart {
        background-color: lightsteelblue;
        color: darkslategray;
        font-family: "Merriweather Sans";
        font-size: 32px;
        padding: 10px;
        margin-top: 100px;
        margin-bottom: 40px;
    }

    #Bioword {
        color: darkslategray;
        text-align: right;
        margin-right: 35px;
        padding: 5px;
        margin-top: 10px;
    }

    .Skillspart {
        background-color: lightsteelblue;
        color: darkslategray;
        font-family: "Merriweather Sans";
        font-size: 32px;
        padding: 10px;
        margin-top: 100px;
        margin-bottom: 40px;
    }

    #Skillsword {
        color: darkslategray;
        margin-right: 35px;
        padding: 5px;
        margin-top: 10px;
    }

    .Contatti {
        background-color: lightsteelblue;
        color: darkslategray;
        font-family: "Merriweather Sans";
        font-size: 32px;
        padding: 10px;
        margin-top: 100px;
        margin-bottom: 50px;
    }
    #Contattiword {
        color: darkslategray;
        margin-right: 35px;
        padding: 5px;
        margin-top: 10px; 
    }